<div class="welcome-box">
    <div class="welcome_container">
        <h2>Welcome to QuizApp</h2>
        <p>This quiz will container total 10 questions. Each question holds 5 point.
        </p>
        <h4><b>Rules:</b></h4>
        <li type="1">Correct answer to question gives you 5 points</li>
            <li type="1">Wrong answer to question gives you 0 points</li>
            <li type="1">Their is no timer for the quiz.</li>
            <li type="1">Refreshing the page will lead to reset the quiz.</li>
           
      <button class="start-btn" routerLink="/question">Start The Quiz</button>
    </div>
    
</div>

